In [16]:
import pandas as pd
import numpy as np
import re
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer , CountVectorizer
from nltk.stem import WordNetLemmatizer

In [3]:
pos_rev = pd.read_csv('netflix/pos.txt' , sep = '\n' , header= None , encoding='latin-1')
pos_rev['mood'] = 1
pos_rev.rename(columns={0 : 'review'} , inplace = True)
pos_rev

                                                 review  mood
0     the rock is destined to be the 21st century's ...     1
1     the gorgeously elaborate continuation of " the...     1
2                        effective but too-tepid biopic     1
3     if you sometimes like to go to the movies to h...     1
4     emerges as something rare , an issue movie tha...     1
...                                                 ...   ...
5326  both exuberantly romantic and serenely melanch...     1
5327  mazel tov to a film about a family's joyous li...     1
5328  standing in the shadows of motown is the best ...     1
5329  it's nice to see piscopo again after all these...     1
5330  provides a porthole into that noble , tremblin...     1

[5331 rows x 2 columns]

In [4]:
neg_rev = pd.read_csv('netflix/negative.txt' , sep = '\n' , header= None , encoding='latin-1')
neg_rev['mood'] = 0
neg_rev.rename(columns={0 : 'review'} , inplace = True)
neg_rev

                                                 review  mood
0                      simplistic , silly and tedious.      0
1     it's so laddish and juvenile , only teenage bo...     0
2     exploitative and largely devoid of the depth o...     0
3     [garbus] discards the potential for pathologic...     0
4     a visually flashy but narratively opaque and e...     0
...                                                 ...   ...
5326  a terrible movie that some people will neverth...     0
5327  there are many definitions of 'time waster' bu...     0
5328  as it stands , crocodile hunter has the hurrie...     0
5329  the thing looks like a made-for-home-video qui...     0
5330  enigma is well-made , but it's just too dry an...     0

[5331 rows x 2 columns]

### what we need to do For cleaning

    lower case
    regex (to remove space and single words)
    tokenize
    stop words
    punctuation 
    stemm/lemmetize

In [7]:
pos_rev['review'] = pos_rev.loc[:,'review'].apply(lambda x : x.lower())
pos_rev

                                                 review  mood
0     the rock is destined to be the 21st century's ...     1
1     the gorgeously elaborate continuation of " the...     1
2                        effective but too-tepid biopic     1
3     if you sometimes like to go to the movies to h...     1
4     emerges as something rare , an issue movie tha...     1
...                                                 ...   ...
5326  both exuberantly romantic and serenely melanch...     1
5327  mazel tov to a film about a family's joyous li...     1
5328  standing in the shadows of motown is the best ...     1
5329  it's nice to see piscopo again after all these...     1
5330  provides a porthole into that noble , tremblin...     1

[5331 rows x 2 columns]

In [8]:
pos_rev['review'] = pos_rev.loc[:,'review'].apply(lambda x : re.sub(r'@\S+','',x))
pos_rev              # regex used to remove @ or multiple wide space function it will remove @abc

                                                 review  mood
0     the rock is destined to be the 21st century's ...     1
1     the gorgeously elaborate continuation of " the...     1
2                        effective but too-tepid biopic     1
3     if you sometimes like to go to the movies to h...     1
4     emerges as something rare , an issue movie tha...     1
...                                                 ...   ...
5326  both exuberantly romantic and serenely melanch...     1
5327  mazel tov to a film about a family's joyous li...     1
5328  standing in the shadows of motown is the best ...     1
5329  it's nice to see piscopo again after all these...     1
5330  provides a porthole into that noble , tremblin...     1

[5331 rows x 2 columns]

In [12]:
# pos_rev['review'] = pos_rev.loc[:,'review'].apply(lambda x : x.translate(str.maketrans(dict.fromkeys(string.punctuation))))
# pos_rev                    #strin.punctaitons used in a dict.form key and the compare

# easy way
# a='1'
# if i in string.punctuation:
#     print(a)
# else:
#     print('no')

In [19]:
# lematization
sw = stopwords.words('english')
lem = WordNetLemmatizer()
pos_rev['review'] = pos_rev.loc[: , 'review'].apply(lambda x : " ".join([lem.lemmatize(word , pos='v') for word in x.split() if word not in (sw)]))
pos_rev

                                                 review  mood
0     rock destine 21st centurys new conan hes go ma...     1
1     gorgeously elaborate continuation lord ring tr...     1
2                             effective tootepid biopic     1
3     sometimes like go movies fun wasabi good place...     1
4     emerge something rare issue movie thats honest...     1
...                                                 ...   ...
5326  exuberantly romantic serenely melancholy time ...     1
5327  mazel tov film familys joyous life act yiddish...     1
5328  stand shadow motown best kind documentary one ...     1
5329    nice see piscopo years chaykin headly priceless     1
5330  provide porthole noble tremble incoherence def...     1

[5331 rows x 2 columns]

In [20]:

neg_rev['review'] = neg_rev.loc[: , 'review'].apply(lambda x : x.lower())
neg_rev['review'] = neg_rev.loc[: , 'review'].apply(lambda x : re.sub(r'@\S+' , '' , x))
neg_rev['review'] = neg_rev.loc[: , 'review'].apply(lambda x : x.translate(str.maketrans(dict.fromkeys(string.punctuation))))
neg_rev['review'] = neg_rev.loc[: , 'review'].apply(lambda x : " ".join([lem.lemmatize(word , pos='v') for word in x.split() if word not in (sw)]))
neg_rev

                                                 review  mood
0                              simplistic silly tedious     0
1     laddish juvenile teenage boys could possibly f...     0
2     exploitative largely devoid depth sophisticati...     0
3     garbus discard potential pathological study ex...     0
4     visually flashy narratively opaque emotionally...     0
...                                                 ...   ...
5326       terrible movie people nevertheless find move     0
5327  many definitions time waster movie must surely...     0
5328  stand crocodile hunter hurry badly cobble look...     0
5329           thing look like madeforhomevideo quickie     0
5330                         enigma wellmade dry placid     0

[5331 rows x 2 columns]

In [22]:
common_rev = pd.concat([pos_rev,neg_rev]).reset_index(drop=True)
common_rev

                                                  review  mood
0      rock destine 21st centurys new conan hes go ma...     1
1      gorgeously elaborate continuation lord ring tr...     1
2                              effective tootepid biopic     1
3      sometimes like go movies fun wasabi good place...     1
4      emerge something rare issue movie thats honest...     1
...                                                  ...   ...
10657       terrible movie people nevertheless find move     0
10658  many definitions time waster movie must surely...     0
10659  stand crocodile hunter hurry badly cobble look...     0
10660           thing look like madeforhomevideo quickie     0
10661                         enigma wellmade dry placid     0

[10662 rows x 2 columns]

In [23]:
xtrain,xtest,ytrain,ytest = train_test_split(common_rev['review'].values, common_rev['mood'].values,test_size=0.2, random_state=42)

In [25]:
# TF-IDF

vecterizer  = TfidfVectorizer()
train_vectors = vecterizer.fit_transform(xtrain)
test_vectors = vecterizer.transform(xtest)  # we are using transform only because we dont want a insight on data

In [26]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report

sv = SVC(kernel = 'linear')
sv.fit(train_vectors,ytrain)
y_pred_svm = sv.predict(test_vectors)

In [31]:
report  = classification_report(ytest,y_pred_svm,output_dict= True)
report

{'0': {'precision': 0.7427007299270073,
  'recall': 0.7600373482726424,
  'f1-score': 0.7512690355329948,
  'support': 1071},
 '1': {'precision': 0.7521697203471552,
  'recall': 0.7344632768361582,
  'f1-score': 0.7432110528823249,
  'support': 1062},
 'accuracy': 0.7473042662916081,
 'macro avg': {'precision': 0.7474352251370813,
  'recall': 0.7472503125544003,
  'f1-score': 0.7472400442076599,
  'support': 2133},
 'weighted avg': {'precision': 0.747415248364043,
  'recall': 0.7473042662916081,
  'f1-score': 0.7472570441710579,
  'support': 2133}}

In [33]:
import joblib
joblib.dump(sv,'svm.pkl')
joblib.dump(vecterizer, 'transform.pkl')

['transform.pkl']

In [40]:
vector = joblib.load('transform.pkl')
model = joblib.load('svm.pkl')